<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="info.protonet.appgroupsuserdefaults" version="0.0.1">
  <name>Share Extension Helper</name>
  <description>This helper makes it possible to share stuff via the iOS share extension</description>
  <author>Joschka Schulz</author>
  <license>Apache 2.0</license>
  <keywords>cordova,share extension</keywords>
  <repo>https://github.com/protonet/cordova-plugin-share-extension-helper</repo>

  <js-module src="www/share_extension_helper.js" name="ShareExtensionHelper">
    <clobbers target="ShareExtensionHelper" />
  </js-module>

  <!-- iOS -->
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
        <feature name="ShareExtensionHelper">
            <param name="ios-package" value="ShareExtensionHelper" />
        </feature>
    </config-file>

    <header-file src="src/ios/ShareExtensionHelper.h" />
    <source-file src="src/ios/ShareExtensionHelper.m" />

    <framework src="MobileCoreServices.framework" />
  </platform>
</plugin>
